name: check if formula urls alive

on:
  push:
    branches: [ master,dev ]
  pull_request:
    branches: [ master,dev ]
  schedule:
    - cron: '0 21 * * *'

jobs:
  check:

    runs-on: macos-latest

    steps:
      - run: curl -LO https://github.com/leleliu008/test/releases/download/2023.10.08/xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz
      - run: /usr/bin/bsdtar xf xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz --strip-components=1

      - run: bin/xcpkg about
      - run: bin/xcpkg sysinfo
      - run: bin/xcpkg update

      - run: |
          for item in $(bin/xcpkg ls-available)
          do
            bin/xcpkg fetch "$item"
          done
