name: ci1 

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:

  native:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ 'macos-26', 'macos-15' ]
        pkg: [aalib,abook,act,actionlint,adig,ag,age,alacritty,alass,algernon,aliyun-cli,amfora,anchor-cli,antibody,aom,apkeep,aptly,archiver,args,aria2,arping,autoconf-archive,automake,autossh,awk,axel,azcopy,b3sum,bandwhich,base16,base64,bash,basis_universal,bat,bazelisk,bc,bcrypt,bear,berkeley-db,bgrep,binaryen,bind,binocle,biome,bison,bit,bitcoin,bk,blockhash,bmake,boringssl,botan,bottom,boxes,brook,broot,brotli,bsdtar,bssl,buf,bullet,byacc,bzip2,bzip3,c-examples,caddy,cargo-c,cargo-deb,carthage,catch2,catimg,cbindgen,ccache,cereal,cflow,cgal,chafa,cheat,check,chezmoi,chicken,chinese-calendar,chisel,choose,chrome-cli,cilium-cli,cli11,clog,cmake,cmake@3,cmark,cmatrix,code-cli,coreutils,cotp,cpio,cppcheck,cppunit,cpufetch,cpuid,cpuinfo,croc,crosstool-ng,crowbook,ctop,cue,curl,curlie,cxxopts,d2,d8,darkhttpd,dasel,dash,dav1d,ddgr,delta,desktop-file-utils,difftastic,diffutils,distcc,dmalloc,dns2tcp,dnslookup,dnsmap,dnsx,dog,doggo]

    runs-on:  ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v4

      - run: curl -LO https://github.com/leleliu008/test/releases/download/2023.10.08/xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz
      - run: /usr/bin/bsdtar xf xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz --strip-components=1

      - run: bin/xcpkg about
      - run: bin/xcpkg sysinfo
      - run: bin/xcpkg formula-repo-init test https://github.com/leleliu008/xcpkg-formula-repository-offical-core

      - run: mv formula ~/.xcpkg/repos.d/test/

      - run: bin/xcpkg install ${{ matrix.pkg }}

  target:
    if: false

    strategy:
      fail-fast: false
      matrix:
        runs-on: [ 'macos-26', 'macos-15' ]
        #target: [ 'MacOSX-10.15-x86_64', 'MacOSX-11.0-x86_64', 'MacOSX-12.0-x86_64', 'MacOSX-13.0-x86_64', 'MacOSX-11.0-arm64', 'MacOSX-12.0-arm64', 'MacOSX-13.0-arm64', 'iPhoneOS-11.0-arm64e', 'iPhoneOS-11.0-arm64' ]
        target: [ 'MacOSX-26.0-arm64' ]
        pkg: [aalib,abook,act,actionlint,adig,ag,age,alacritty,alass,algernon,aliyun-cli,amfora,anchor-cli,antibody,aom,apkeep,aptly,archiver,args,aria2,arping,autoconf-archive,automake,autossh,awk,axel,azcopy,b3sum,bandwhich,base16,base64,bash,basis_universal,bat,bazelisk,bc,bcrypt,bear,berkeley-db,bgrep,binaryen,bind,binocle,biome,bison,bit,bitcoin,bk,blockhash,bmake,boringssl,botan,bottom,boxes,brook,broot,brotli,bsdtar,bssl,buf,bullet,byacc,bzip2,bzip3,c-examples,caddy,cargo-c,cargo-deb,carthage,catch2,catimg,cbindgen,ccache,cereal,cflow,cgal,chafa,cheat,check,chezmoi,chicken,chinese-calendar,chisel,choose,chrome-cli,cilium-cli,cli11,clog,cmake,cmake@3,cmark,cmatrix,code-cli,coreutils,cotp,cpio,cppcheck,cppunit,cpufetch,cpuid,cpuinfo,croc,crosstool-ng,crowbook,ctop,cue,curl,curlie,cxxopts,d2,d8,darkhttpd,dasel,dash,dav1d,ddgr,delta,desktop-file-utils,difftastic,diffutils,distcc,dmalloc,dns2tcp,dnslookup,dnsmap,dnsx,dog,doggo]

    runs-on:  ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v4

      - run: curl -LO https://github.com/leleliu008/test/releases/download/2023.10.08/xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz
      - run: /usr/bin/bsdtar xf xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz --strip-components=1

      - run: bin/xcpkg about
      - run: bin/xcpkg sysinfo
      - run: bin/xcpkg formula-repo-init test https://github.com/leleliu008/xcpkg-formula-repository-offical-core

      - run: mv formula ~/.xcpkg/repos.d/test/

      - run: bin/xcpkg install ${{ matrix.pkg }}
