name: ci3 

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:

  build:
    runs-on: macos-26

    strategy:
      fail-fast: false
      matrix:
        #target: [ 'MacOSX-10.15-x86_64', 'MacOSX-11.0-x86_64', 'MacOSX-12.0-x86_64', 'MacOSX-13.0-x86_64', 'MacOSX-11.0-arm64', 'MacOSX-12.0-arm64', 'MacOSX-13.0-arm64', 'iPhoneOS-11.0-arm64e', 'iPhoneOS-11.0-arm64' ]
        target: [ 'MacOSX-14.0-arm64' ]
        pkg: [p7zip,packcc,pandoc,patch,patchelf,pbzip2,pcapplusplus,pcre2,pegof,pget,pigz,pjsip,pkg-config,pkgconf,plog,plzip,png,pngcheck,pngquant,pngsplit,poco,ppkg,prek,procs,progress,proj,proj7,proto-cli,psc-package,psimd,psutils,pup,putty,pv,pybind11,python@3.10,python@3.11,python@3.12,python@3.13,python@3.9,q,qalc,qbittorrent-cli,qemu,qman,qpdf,qrencode,quickjs,ragel,rang,ranger,rapidjson,rav1e,rbspy,rclone,re2c,readpe,redex,redis,restic,resvg,rhash,ripgrep,ripgrep-all,rlwrap,rover,rsass,rsign2,rsync,rtmpdump,rtorrent,ruby,ruff,rust-analyzer,rustic,rustup-init,samtools,samurai,sassc,scc,sccache,scdoc,screenresolution,sd,semtools,shc,shell2http,shellcheck,shellharden,shiori,signify,silicon,simplex-chat,sl,slang,slumber,sndfile,socat,soundtouch,speex,spirv-tools,sq,sqldiff,sqlite-analyzer,sqlite3,stack,starship,stew,sttr,stwolame,stylua,subfinder,superfile,supervisord,suricata,svn-lite,svt-av1,swig,syncthing,sysinfo,szip,t1utils,taglib,tarlz,tcc,tcpdump,tcping,tealdeer,tectonic,tengo,termsvg,terragrunt,tesseract,texinfo,tic,tiff,tig,timg,tinysearch,tldr,tlrc,tmux,tokei,toml++,toml11,tor,torsocks,tre,tree,tree-sitter,trietool,trivy,ttyd,ttygif,ttyrec,tut,tweego,twolame,typos,uctags,unbound,unixodbc,unrar,unxip,unzip,update-mime-database,uppm,uppm@0.15.2,uppm@0.15.3,uppm@0.15.4,upx,utf8.h,util-linux,uutils-coreutils,uv,vala,valijson,vapoursynth,vegeta,virustotal-cli,viu,volta,vorbis-tools,vsftpd,wabt,wasm3,wasmer,wasmtime,watchexec,watchman,wavpack,webhook,webp,websocketpp,wget,whois,wiki-tui,woff2,wolfssh,wuzz,x264,x265,xcbeautify,xcpkg,xdotool,xh,xmake,xmlto,xmlutils,xmlwf,xorg-libxcursor,xorg-libxdamage,xorg-libxmu,xorg-libxpresent,xorg-libxscrnsaver,xorg-libxshmfence,xorg-libxvmc,xorg-libxxf86vm,xorg-xinput,xorriso,xpup,xsltproc,xsv,xxd,xxhash,xz,yasm,yazi,ycm,youtubedr,yq,zellij,zeta,zigmod,zip,zizmor,zlib-ng,zls,zola,zopfli,zoxide,zsh,zstd,zsync]

    steps:
      - uses: actions/checkout@v4

      - run: curl -LO https://github.com/leleliu008/test/releases/download/2023.10.08/xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz
      - run: /usr/bin/bsdtar xf xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz --strip-components=1

      - run: bin/xcpkg about
      - run: bin/xcpkg sysinfo
      - run: bin/xcpkg formula-repo-init test https://github.com/leleliu008/xcpkg-formula-repository-offical-core

      - run: mv formula ~/.xcpkg/repos.d/test/

      - run: bin/xcpkg install ${{ matrix.pkg }}
