name: ci3 

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:

  native:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ 'macos-26', 'macos-15' ]
        pkg: [hurl,hydroxide,hyperfine,id3lib,ideviceinstaller,intltool,invoice,jackaudio,jaq,jbig2dec,jemalloc,jfrog-cli,jj,jless,jo,joshuto,jpegoptim,jq,json-glib,jump,just,k9s,kcp,ko,koka,kondo,krb5,lame,lazydocker,lazygit,lazyjournal,lazysql,lcms2,lcov,less,lf,libLIEF,libaec,libaria2,libasprintf,libasync++,libatomic_ops,libb2,libb64,libbcrypt,libbrpc,libbsd,libcaca,libcaf,libcddb,libcdio,libcfitsio,libcgif,libchafa,libcpu_features,libcpuinfo,libcroco,libcss,libczmq,libduktape,libepoxy,libexhale,libexiv2,libfdk-aac,libflatbuffers,libftgl,libgc,libgit2@1.7,libglm,libgraphene,libicu@75,libilbc,libimagequant,libintl-lite,libirecovery,libisl,libisoburn,libixwebsocket,libjpeg,libjq,libkrb5,liblinear,liblmdb,libmaxminddb,libmesalink,libmetalink,libmhash,libmicrohttpd,libmill,libmimalloc,libminiz,libmms,libmpc,libmpir,libmpv,libnetpbm,libnng,libolm,libopenh264,libp11-kit,libphonenumber,libphysfs,libpipeline,libpkcs11-helper,libpng++,libpsl,libpugixml,libqalculate,libqpdf,libquiche,libraqm,librasterlite2,libraw,libre,librealsense,libressl,libresvg,librist,librtmp,libsimdjson,libsjpeg,libskcms,libsmi,libsndfile,libspectre,libspng,libsrtp,libsvg]

    runs-on:  ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v4

      - run: curl -LO https://github.com/leleliu008/test/releases/download/2023.10.08/xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz
      - run: /usr/bin/bsdtar xf xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz --strip-components=1

      - run: bin/xcpkg about
      - run: bin/xcpkg sysinfo
      - run: bin/xcpkg formula-repo-init test https://github.com/leleliu008/xcpkg-formula-repository-offical-core

      - run: mv formula ~/.xcpkg/repos.d/test/

      - run: bin/xcpkg install ${{ matrix.pkg }}

  target:
    if: false

    strategy:
      fail-fast: false
      matrix:
        runs-on: [ 'macos-26', 'macos-15' ]
        #target: [ 'MacOSX-10.15-x86_64', 'MacOSX-11.0-x86_64', 'MacOSX-12.0-x86_64', 'MacOSX-13.0-x86_64', 'MacOSX-11.0-arm64', 'MacOSX-12.0-arm64', 'MacOSX-13.0-arm64', 'iPhoneOS-11.0-arm64e', 'iPhoneOS-11.0-arm64' ]
        target: [ 'MacOSX-26.0-arm64' ]
        pkg: [hurl,hydroxide,hyperfine,id3lib,ideviceinstaller,intltool,invoice,jackaudio,jaq,jbig2dec,jemalloc,jfrog-cli,jj,jless,jo,joshuto,jpegoptim,jq,json-glib,jump,just,k9s,kcp,ko,koka,kondo,krb5,lame,lazydocker,lazygit,lazyjournal,lazysql,lcms2,lcov,less,lf,libLIEF,libaec,libaria2,libasprintf,libasync++,libatomic_ops,libb2,libb64,libbcrypt,libbrpc,libbsd,libcaca,libcaf,libcddb,libcdio,libcfitsio,libcgif,libchafa,libcpu_features,libcpuinfo,libcroco,libcss,libczmq,libduktape,libepoxy,libexhale,libexiv2,libfdk-aac,libflatbuffers,libftgl,libgc,libgit2@1.7,libglm,libgraphene,libicu@75,libilbc,libimagequant,libintl-lite,libirecovery,libisl,libisoburn,libixwebsocket,libjpeg,libjq,libkrb5,liblinear,liblmdb,libmaxminddb,libmesalink,libmetalink,libmhash,libmicrohttpd,libmill,libmimalloc,libminiz,libmms,libmpc,libmpir,libmpv,libnetpbm,libnng,libolm,libopenh264,libp11-kit,libphonenumber,libphysfs,libpipeline,libpkcs11-helper,libpng++,libpsl,libpugixml,libqalculate,libqpdf,libquiche,libraqm,librasterlite2,libraw,libre,librealsense,libressl,libresvg,librist,librtmp,libsimdjson,libsjpeg,libskcms,libsmi,libsndfile,libspectre,libspng,libsrtp,libsvg]

    runs-on:  ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v4

      - run: curl -LO https://github.com/leleliu008/test/releases/download/2023.10.08/xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz
      - run: /usr/bin/bsdtar xf xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz --strip-components=1

      - run: bin/xcpkg about
      - run: bin/xcpkg sysinfo
      - run: bin/xcpkg formula-repo-init test https://github.com/leleliu008/xcpkg-formula-repository-offical-core

      - run: mv formula ~/.xcpkg/repos.d/test/

      - run: bin/xcpkg install ${{ matrix.pkg }}
