name: ci4 

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:

  build1:
    if: false

    strategy:
      fail-fast: false
      matrix:
        #target: [ 'MacOSX-10.15-x86_64', 'MacOSX-11.0-x86_64', 'MacOSX-12.0-x86_64', 'MacOSX-13.0-x86_64', 'MacOSX-11.0-arm64', 'MacOSX-12.0-arm64', 'MacOSX-13.0-arm64', 'iPhoneOS-11.0-arm64e', 'iPhoneOS-11.0-arm64' ]
        target: [ 'MacOSX-14.0-arm64' ]
        pkg: [libyajl,libyaml-cpp,libyuv,libzim,libzlog,lief,lighttpd,links,livego,llhttp,lmdb,lodepng,log4cplus,lolcat,lrzip,lsd,lsof,lua,luajit,luau,lunatic,lunzip,lychee,lynx,lz4,lzip,lzo,lzop,magic_enum,mandoc,mawk,mcfly,md4c,mdbook,mdcat,mediainfo,mesa,minisign,miniz,minizip,mist-cli,mksh,mold,mosh,mozjpeg,mozjpeg2,mpdecimal,mpg123,mpv,msgpack-c,mujs,mupdf,nano,nanomsg,nap,nasm,navi,ncdu,neofetch,netcat,nethogs,netpbm,nghttp2,nghttp3,nginx,ngtcp2,ninja,nnn,nsh,nspr,ntbtls,nuclei,nushell,oat++,obfs4proxy,oggz,oha,oksh,ollama,onefetch,openal-soft,opencolorio,opencv,openjpeg,openlibm,openmpi,openslide,openssh,ops,orbiton,orcc,osx-cpu-temp,ouch,p7zip,packcc,pandoc,patch,patchelf,pbzip2,pcapplusplus,pcre,pcre2,pegof,pget,pigz,pjsip,pkg-config,pkgconf,plog,plzip,png,pngcheck,pngquant,pngsplit,poco,ppkg,procs,progress,proj,proj7,psc-package,psimd,psutils,pup,putty,pv,pybind11,python@3.10]

    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - run: curl -LO https://raw.githubusercontent.com/leleliu008/xcpkg/${{ github.ref_name }}/xcpkg
      - run: chmod u+x xcpkg

      - run: ./xcpkg about
      - run: ./xcpkg setup
      - run: ./xcpkg formula-repo-init test https://github.com/leleliu008/xcpkg-formula-repository-offical-core

      - run: mv formula ~/.xcpkg/repos.d/test/

      - run: ./xcpkg install ${{ matrix.target }}/${{ matrix.pkg }}


  build:
    runs-on: macos-15

    strategy:
      fail-fast: false
      matrix:
        pkg: [libyajl,libyaml-cpp,libyuv,libzim,libzlog,lief,lighttpd,links,livego,llhttp,lmdb,lodepng,log4cplus,lolcat,lrzip,lsd,lsof,lua,luajit,luau,lunatic,lunzip,lychee,lynx,lz4,lzip,lzo,lzop,magic_enum,mandoc,mawk,mcfly,md4c,mdbook,mdcat,mediainfo,mesa,minisign,miniz,minizip,mist-cli,mksh,mold,mosh,mozjpeg,mozjpeg2,mpdecimal,mpg123,mpv,msgpack-c,mujs,mupdf,nano,nanomsg,nap,nasm,navi,ncdu,neofetch,netcat,nethogs,netpbm,nghttp2,nghttp3,nginx,ngtcp2,ninja,nnn,nsh,nspr,ntbtls,nuclei,nushell,oat++,obfs4proxy,oggz,oha,oksh,ollama,onefetch,openal-soft,opencolorio,opencv,openjpeg,openlibm,openmpi,openslide,openssh,ops,orbiton,orcc,osx-cpu-temp,ouch,p7zip,packcc,pandoc,patch,patchelf,pbzip2,pcapplusplus,pcre,pcre2,pegof,pget,pigz,pjsip,pkg-config,pkgconf,plog,plzip,png,pngcheck,pngquant,pngsplit,poco,ppkg,procs,progress,proj,proj7,psc-package,psimd,psutils,pup,putty,pv,pybind11,python@3.10]

    steps:
      - uses: actions/checkout@v4

      - run: curl -LO https://github.com/leleliu008/test/releases/download/2023.10.08/xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz
      - run: /usr/bin/bsdtar xf xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz --strip-components=1

      - run: bin/xcpkg about
      - run: bin/xcpkg sysinfo
      - run: bin/xcpkg formula-repo-init test https://github.com/leleliu008/xcpkg-formula-repository-offical-core

      - run: mv formula ~/.xcpkg/repos.d/test/

      - run: bin/xcpkg install ${{ matrix.pkg }}
