name: compare-versions

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]
  schedule:
    - cron: '0 2 * * *'

jobs:
  schedule:

    runs-on: macos-15

    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - run: brew update

      - uses: actions/checkout@v4

      - run: curl -LO https://github.com/leleliu008/test/releases/download/2023.10.08/xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz
      - run: /usr/bin/bsdtar xf xcpkg-0.30.0-macos-15.0-arm64.release.tar.xz --strip-components=1
      - run: mv bin/xcpkg .

      - run: ./xcpkg about
      - run: ./xcpkg sysinfo

      - run: ./compare-versions-with-brew
